@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 40px;
}

.list-of-components-container {
  flex-wrap: wrap;
  align-items: stretch;
}

.list-of-components-items {
  flex: 46%;
  text-align: center;
  padding: 30px;
  background-color: #d3d3d3;
  margin: 2%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  border: none !important;
  font-size: 16px;
}

pre,
code {
  font-family: Consolas, monospace !important;
}

pre span,
code span {
  font-family: Consolas, monospace !important;
}
